<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a Team and Heroes!</h1>
    <form action="/teams" method="post">
        <label for="team_name">Team Name: </label>
        <input type="text" name="team[name]" id="team[name]"><br>
        <label for="team_motto">Team Motto: </label>
        <input type="text" name="team[motto]" id="team[motto]"><br>

        <h3>Hero 1</h3>
        <label for="member1_name">Hero's Name:</label>
        <input type="text" name="member1_name" id=team[members][][name]"><br>
        <label for="member1_power">Hero's Power: </label>
        <input type="text" name="member1_power" id="team[members][][power]"><br>
        <label for="member1_power">Hero's Biography: </label>
        <input type="text" name="member1_bio" id="team[members][][bio]"><br>
        <h3>Hero 2</h3>
        <label for="member2_name">Hero's Name:</label>
        <input type="text" name="member2_name" id="team[members][][name]"><br>
        <label for="member2_power">Hero's Power: </label>
        <input type="text" name="member2_power" id="team[members][][power]"><br>
        <label for="member2_power">Hero's Biography: </label>
        <input type="text" name="member2_bio" id="team[members][][bio]"><br>
        <h3>Hero 1</h3>
        <label for="member3_name">Hero's Name:</label>
        <input type="text" name="member3_name" id="team[members][][name]"><br>
        <label for="member3_power">Hero's Power: </label>
        <input type="text" name="member3_power" id="team[members][][power]"><br>
        <label for="member3_power">Hero's Biography: </label>
        <input type="text" name="member3_bio" id="team[members][][bio]"><br>
        <input type="submit" value="submit">

    </form>

</body>
</html>


